	<form role="form" name="frm_persona">
		<table style="width:100%; margin:0 auto;" border="1">
			<caption>LISTA PERSONAS</caption>
			<thead>
				<tr>
					<th>Nombres</th>
					<th>Fecha Nac</th>
					<th>Tipo</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="persona in personas">
					<td>{{persona.nombre}}</td>
					<td>{{persona.nacimiento}}</td>
					<td>{{persona.tipo}}</td>
					<td>{{persona.estado}}</td>
					<td>
						<a href="#/persona/editar/{{persona.idpersona}}">Editar</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" style="text-align:center;">
						<a href="#/persona/nuevo">Nuevo persona</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>