<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="./js/angulardemo1.js"></script>
	<link rel="stylesheet" href="css/demo.css">

</head>
<body ng-app >
	<div ng-controller="controllerTareas">
		<span> {{ restantes() }} de {{tareas.length }} </span>
		<ul class="unstyle">
			[ <a href="" ng-click="eliminar();">elimnar</a>]
			<li ng-repeat="tarea in  tareas ">
				<input type="checkbox" ng-model="tarea.hecho">
				<span class="hecho-{{tarea.hecho}}">{{tarea.texto}} </span>
			</li>
		</ul>
		<form  ng-submit="agregarTarea()">
			<input type="text" placeholder="Agregar tarea" ng-model="textoNuevaTarea" required>
			<button type="submit">Agregar</button>
		</form>

	</div>
</body>
</html>