<!DOCTYPE html>
<html>
<head>
  <title>Filtros</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.5/i18n/angular-locale_es-es.js"></script>
  <script src="js/filtros.js"></script>
</head>
<body ng-app>
  <div  class="container" ng-controller="ControladorFiltros">
    <h1>Filtros Nativos de AngularJS</h1>
    <hr>
     <!--  <a class="btn btn-lg btn-warning" href="https://www.youtube.com/watch?v=qh5fJzGBlYo" target="_blank">
    	    ir al Video-Tutorial
      </a>
    <hr> -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" class="form-control" placeholder="Buscare Empleado" ng-model="buscar.nombre">
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
                Nombre/s
              <span class="glyphicon glyphicon-chevron-down" style="cursor: pointer" ng-click="ordenarPor('nombre')"></span>
              <span class="glyphicon glyphicon-chevron-up" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>

            </th>
            <th>Apellido Paterno
              <span class="glyphicon glyphicon-chevron-down" style="cursor: pointer" ng-click="ordenarPor('paterno')"></span>
              <span class="glyphicon glyphicon-chevron-up" style="cursor: pointer" ng-click="ordenarPor('-paterno')"></span>
            </th>
            <th>Apellido Materno
                <span class="glyphicon glyphicon-chevron-down" style="cursor: pointer" ng-click="ordenarPor('materno')"></span>
                <span class="glyphicon glyphicon-chevron-up" style="cursor: pointer" ng-click="ordenarPor('-materno')"></span>
            </th>
            <th>Primer dia de trabajo</th>
            <th>Telefono</th>
            <th>Salario
                <span class="glyphicon glyphicon-chevron-down" style="cursor: pointer" ng-click="ordenarPor('salario')"></span>
                <span class="glyphicon glyphicon-chevron-up" style="cursor: pointer" ng-click="ordenarPor('-salario')"></span>

            </th>
            <th>Bono</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="empleado in empleados | orderBy:ordenSeleccionado | filter:buscar">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.paterno | uppercase}}</td>
            <td>{{empleado.materno | lowercase}}</td>
            <td>{{empleado.primerDia | date:'fullDate'}} a las {{empleado.primerDia | date:'h:mma'}}</td>
            <td>{{empleado.telefono}}</td>
            <td>{{empleado.salario | currency}}</td>
            <td>% {{empleado.bono | number:2}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>