<div id="divRegistrar_persona">
	<form id="frmRegistrar_persona" name="frmRegistrar_persona" class="hform" method="post" ng-submit="setPersona()" >
		<fieldset> <legend> Nuevo Persona</legend>
		<fieldset>
				<label for="nombre">nombre : </label>
				<input type="text" ng-model="nombre" id="nombre" value="" required/>
			</fieldset>
			<fieldset>
				<label for="nacimiento">nacimiento : </label>
				<input type="text" ng-model="nacimiento" id="nacimiento" value=""  required/>
			</fieldset>
			<fieldset>
				<label for="tipo">tipo : </label>
				<input type="text" ng-model="tipo" id="tipo" value=""/>
			</fieldset>
			<fieldset class="text-right">
				<button type="button"  onclick="location.href='#/persona';"> Cancelar </button>
				<button  type="submit" id="btnCancelar"   ng-disabled="frmRegistrar_persona.$invalid" > Registrar </button>
			</fieldset>
		</fieldset>
	</form>
	<span>{{msj}}</span>
</div>